# Data Science Masters :Assignment 12

Create a sql db from adult dataset and name it sqladb
Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
Rename the columns as per the description from this file:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

In [29]:
# Solution
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",header=None, names = ['age','workclass','fnlwgt','education','educationnum','maritalstatus','occupation','relationship','race','sex','capitalgain','capitalloss','hoursperweek','nativecountry','prob'])
df = df.drop(['prob'],axis=1)
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [2]:
con = db.connect(':memory:')
cursor = con.cursor()
# Create a sql db from adult dataset and name it sqladb
df.to_sql("sqladb", con, if_exists='replace', index=False)

In [30]:
# 1. Select 10 records from the adult sqladb
cursor.execute("SELECT * FROM sqladb LIMIT 10;")
print(cursor.fetchall())

[(39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'White', 'Male', 2174, 0, 40, 'United-States'), (50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 13, 'United-States'), (38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'United-States'), (53, 'Private', 234721, '11th', 7, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States'), (28, 'Private', 338409, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Wife', 'Black', 'Female', 0, 0, 40, 'Cuba'), (37, 'Private', 284582, 'Masters', 14, 'Married-civ-spouse', 'Exec-managerial', 'Wife', 'White', 'Female', 0, 0, 40, 'United-States'), (49, 'Private', 160187, '9th', 5, 'Married-spouse-absent', 'Other-service', 'Not-in-family', 'Black', 'Female', 0, 0, 16, 'Jamaica'), (52, 'Self-emp-not-inc', 209642, 'HS-grad', 9, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 45, 'United-States'), (31, 'Private', 45781, 'Masters', 14, 'Never-married', 'Prof-specialty', 'Not-in-family', 'White', 'Female', 14084, 0, 50, 'United-States'), (42, 'Private', 159449, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 5178, 0, 40, 'United-States')]

In [31]:
# 2. Show me the average hours per week of all men who are working in private sector
cursor.execute("SELECT AVG (hoursperweek) FROM sqladb WHERE sex='Male' AND workclass='Private';")
print("Average hours per week of all men who are working in private sector: %.2f " % cursor.fetchone())

Average hours per week of all men who are working in private sector: 42.22

In [32]:
# 3. Show me the frequency table for education, occupation and relationship, separately
# Showing table for education...
cursor.execute("""SELECT education,COUNT(education) as freq_education FROM sqladb 
GROUP BY education """)
results = cursor.fetchall()
res_df = pd.DataFrame(results,columns=['edcuation','freq_education'])
res_df

       edcuation  freq_education
0           10th             933
1           11th            1175
2           12th             433
3        1st-4th             168
4        5th-6th             333
5        7th-8th             646
6            9th             514
7     Assoc-acdm            1067
8      Assoc-voc            1382
9      Bachelors            5355
10     Doctorate             413
11       HS-grad           10501
12       Masters            1723
13     Preschool              51
14   Prof-school             576
15  Some-college            7291

In [33]:
# Showing table for occupation...
cursor.execute("""SELECT occupation,COUNT(occupation) as freq_occupation FROM sqladb 
GROUP BY occupation """)
results = cursor.fetchall()
res_df = pd.DataFrame(results,columns=['occupation','freq_occupation'])
res_df

           occupation  freq_occupation
0                   ?             1843
1        Adm-clerical             3770
2        Armed-Forces                9
3        Craft-repair             4099
4     Exec-managerial             4066
5     Farming-fishing              994
6   Handlers-cleaners             1370
7   Machine-op-inspct             2002
8       Other-service             3295
9     Priv-house-serv              149
10     Prof-specialty             4140
11    Protective-serv              649
12              Sales             3650
13       Tech-support              928
14   Transport-moving             1597

In [34]:
# Showing table for relationship...
cursor.execute("""SELECT relationship,COUNT(relationship) as freq_relationship FROM sqladb 
GROUP BY relationship """)
results = cursor.fetchall()
res_df = pd.DataFrame(results,columns=['relationship','freq_relationship'])
res_df

     relationship  freq_relationship
0         Husband              13193
1   Not-in-family               8305
2  Other-relative                981
3       Own-child               5068
4       Unmarried               3446
5            Wife               1568

In [35]:
# 4. Are there any people who are married, working in private sector and having a masters degree
# Solution

cursor.execute("""SELECT COUNT(*) FROM sqladb WHERE workclass='Private' AND education='Masters' AND (maritalstatus ='Married-civ-spouse' OR maritalstatus='Married-spouse-absent' OR maritalstatus='Married-AF-spouse')""")
print("Are there any people who are married, working in private sector and having a masters degree? - ")
count = cursor.fetchone()[0]
if(count == 0):
    print("No")
else:
    print("Yes,",count)

Are there any people who are married, working in private sector and having a masters degree? -
Yes, 540

In [36]:
# 5. What is the average, minimum and maximum age group for people working in different sectors
# Solution

cursor.execute("""SELECT round(AVG(age),2),MIN(age),MAX(age) FROM sqladb;""")
ageValues = cursor.fetchone()
print("Average Age Value:",ageValues[0])
print("Maximum Age Value:",ageValues[1])
print("Minimum Age Value:",ageValues[2])

Average Age Value: 38.58
Maximum Age Value: 17
Minimum Age Value: 90

In [37]:
#6. Calculate age distribution by country
# Solution
cursor.execute("""SELECT nativecountry,SUM(CASE WHEN age < 18 THEN 1 ELSE 0 END) AS [Under 18],
        SUM(CASE WHEN age BETWEEN 18 AND 24 THEN 1 ELSE 0 END) AS [18-35],
        SUM(CASE WHEN age BETWEEN 25 AND 34 THEN 1 ELSE 0 END) AS [36-50],
        SUM(CASE WHEN age > 50 THEN 1 ELSE 0 END) AS [Above 50]
 FROM sqladb 
 WHERE nativecountry != "?"
 GROUP BY nativecountry
""")
results = cursor.fetchall()
res_df = pd.DataFrame(results,columns=['Country','Age under 18','Age b/w 18-35','Age b/w 36-50','Age above 50'])
res_df

,Country,Age under 18,Age b/w 18-35,Age b/w 36-50,Age above 50
0,Cambodia,0,1,6,2
1,Canada,2,11,29,38
2,China,0,5,20,20
3,Columbia,0,6,21,13
4,Cuba,0,5,16,36
5,Dominican-Republic,0,14,18,13
6,Ecuador,0,4,12,2
7,El-Salvador,2,26,34,12
8,England,1,10,25,21
9,France,0,2,13,6
10,Germany,0,16,47,28
11,Greece,0,4,3,14
12,Guatemala,0,16,27,6
13,Haiti,1,8,9,11
14,Holand-Netherlands,0,0,1,0
15,Honduras,0,2,6,1
16,Hong,0,1,11,1
17,Hungary,0,1,3,7
18,India,1,8,37,17
19,Iran,0,4,9,7
20,Ireland,0,2,13,3
21,Italy,0,5,11,30
22,Jamaica,0,14,31,12
23,Japan,0,3,19,6
24,Laos,0,4,6,2
25,Mexico,6,143,247,61
26,Nicaragua,0,7,14,3
27,Outlying-US(Guam-USVI-etc),0,2,5,3
28,Peru,2,6,8,2
29,Philippines,1,22,52,33
30,Poland,1,3,13,17
31,Portugal,0,5,11,8
32,Puerto-Rico,1,13,23,23
33,Scotland,0,1,3,3
34,South,0,17,20,15
35,Taiwan,0,7,23,4
36,Thailand,0,4,6,1
37,Trinadad&Tobago,1,0,4,3
38,United-States,374,4682,7437,5866
39,Vietnam,0,23,17,8
40,Yugoslavia,0,2,3,3

In [43]:
# 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'
# Solution
cursor.execute("""SELECT age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,capitalgain,capitalloss,(capitalgain-capitalloss) as NetCaptailGain,relationship,race,sex,hoursperweek,nativecountry from sqladb""")
results = cursor.fetchall()
res_df = pd.DataFrame(results,columns=['age','workclass','fnlwgt','education','educationnum','maritalstatus','occupation','capitalgain','capitalloss','netcaptialgain','relationship','race','sex','hoursperweek','nativecountry'])
res_df

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,capitalgain,capitalloss,netcaptialgain,relationship,race,sex,hoursperweek,nativecountry
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,2174,0,2174,Not-in-family,White,Male,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,0,0,0,Husband,White,Male,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,0,0,0,Not-in-family,White,Male,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,0,0,0,Husband,Black,Male,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,0,0,0,Wife,Black,Female,40,Cuba
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,0,0,0,Wife,White,Female,40,United-States
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,0,0,0,Not-in-family,Black,Female,16,Jamaica
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,0,0,0,Husband,White,Male,45,United-States
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,14084,0,14084,Not-in-family,White,Female,50,United-States
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,5178,0,5178,Husband,White,Male,40,United-States
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,0,0,0,Husband,Black,Male,80,United-States
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,0,0,0,Husband,Asian-Pac-Islander,Male,40,India
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,0,0,0,Own-child,White,Female,30,United-States
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,0,0,0,Not-in-family,Black,Male,50,United-States
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,0,0,0,Husband,Asian-Pac-Islander,Male,40,?
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,0,0,0,Husband,Amer-Indian-Eskimo,Male,45,Mexico
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,0,0,0,Own-child,White,Male,35,United-States
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,0,0,0,Unmarried,White,Male,40,United-States
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,0,0,0,Husband,White,Male,50,United-States
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,0,0,0,Unmarried,White,Female,45,United-States
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,0,0,0,Husband,White,Male,60,United-States
21,54,Private,302146,HS-grad,9,Separated,Other-service,0,0,0,Unmarried,Black,Female,20,United-States
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,0,0,0,Husband,Black,Male,40,United-States
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,0,2042,-2042,Husband,White,Male,40,United-States
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,0,0,0,Unmarried,White,Female,40,United-States
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,0,0,0,Husband,White,Male,40,United-States
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,0,0,0,Own-child,White,Male,40,United-States
27,54,?,180211,Some-college,10,Married-civ-spouse,?,0,0,0,Husband,Asian-Pac-Islander,Male,60,South
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,0,0,0,Not-in-family,White,Male,80,United-States
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,0,0,0,Husband,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,0,0,0,Not-in-family,Asian-Pac-Islander,Female,99,United-States
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,0,0,0,Husband,White,Male,60,United-States
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,0,0,0,Husband,Asian-Pac-Islander,Male,50,Japan
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,0,0,0,Unmarried,White,Female,39,United-States
32535,22,Private,325033,12th,8,Never-married,Protective-serv,0,0,0,Own-child,Black,Male,35,United-States
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,0,0,0,Not-in-family,White,Female,55,United-States
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,0,0,0,Not-in-family,Black,Male,46,United-States
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,15020,0,15020,Unmarried,Black,Female,45,United-States
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,0,0,0,Husband,White,Male,10,United-States
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,0,0,0,Own-child,White,Female,40,United-States
32541,41,?,202822,HS-grad,9,Separated,?,0,0,0,Not-in-family,Black,Female,32,United-States
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,0,0,0,Husband,White,Male,25,United-States
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,0,0,0,Unmarried,White,Female,48,United-States
32544,31,Private,199655,Masters,14,Divorced,Other-service,0,0,0,Not-in-family,Other,Female,30,United-States
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,0,0,0,Wife,White,Female,20,United-States
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,0,0,0,Not-in-family,White,Female,40,United-States
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,0,0,0,Husband,White,Male,40,Mexico
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,1086,0,1086,Not-in-family,White,Male,60,United-States
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,0,0,0,Other-relative,White,Female,40,United-States
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,0,0,0,Husband,White,Male,50,United-States
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,0,0,0,Husband,Amer-Indian-Eskimo,Male,40,United-States
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,0,0,0,Husband,White,Male,45,United-States
32553,32,Private,116138,Masters,14,Never-married,Tech-support,0,0,0,Not-in-family,Asian-Pac-Islander,Male,11,Taiwan
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,0,0,0,Husband,White,Male,40,United-States
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,0,0,0,Not-in-family,White,Male,40,United-States
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,0,0,0,Wife,White,Female,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,0,0,0,Husband,White,Male,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,0,0,0,Unmarried,White,Female,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,0,0,0,Own-child,White,Male,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,15024,0,15024,Wife,White,Female,40,United-States